body {
  background-color: #ffd4a7;
}

.NavContainer {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  line-height: 50px;
  margin-top: 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
