body {
  font-family: Verdana;
  margin: 0;
}

.sliders {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1245px;
  height: 682px;
  border-radius: 10px;
  border: 2px solid black;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 50px 50px;
  border: 2px solid black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("https://images.unsplash.com/photo-1520302630591-fd1c66edc19d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 10px;
}

img {
  width: 400px;
  height: 400px;
}

.logo > h1 {
  color: green;
  text-align: center;
  margin-top: -5px;
}

.aboutUs {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.aboutUs > img {
  width: 350px;
  height: 350px;
}

.bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: center;
}

.bio > p {
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 800px;
}

.grid-item2 {
  margin-left: -100px;
  margin-right: 90px;
  border: 2px solid black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1519289776718-d7becf12a9f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
