body {
  font-family: Verdana;
  margin: 0;
}

.image {
  width: 1245px;
  height: 682px;
  border-radius: 10px;
  border: 2px solid black;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

img {
  width: 400px;
  height: 400px;
}
